.btn {
  background-color: #369;
  border: 0;
  padding: 8px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #258;
  cursor: -webkit-grabbing;
  cursor:-moz-grabbing;
}

input#file-upload-button {
  background-color: #369;
  border: 0;
  padding: 8px;
  color: white;
  font-weight: bold;
}