/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.heroes .hero {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  border-radius: 1rem;
  border: solid 1px #ced4da;
}
.heroes .hero:hover {
  color: #607d8b;
  background-color: #ddd;
}
.heroes .hero.selected {
  background-color: #cfd8dc;
  color: white;
}
.heroes .hero.selected:hover {
  background-color: #bbd8dc;
  color: white;
}

.hero {
  width: 220px;
}

.hero:hover .logo {
  transform: scale(1.1);
}

.image-container {
  display: flex;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

.logo {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  transition: transform 0.5s ease;
  opacity: 0.99;
}

.logo:hover {
  transform: scale(1.2);
}

.label {
  padding: 8px;
  font-weight: bold;
  color: black;
}

.label-container {
  display: flex;
}

a {
  text-decoration: none;
}
