label {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin: 5px 0px;
  display: inline-block;
}

input.input-form {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.date-picker-width,
.date-picker-width > div.react-datepicker-wrapper,
.date-picker-width
  > div
  > div.react-datepicker__input-container
  .date-picker-width
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

input.date-picker-disabled {
  cursor: not-allowed;
}
