<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <app-input-field
    [id]="'name'"
    [name]="'Nom'"
    [value]="hero.name"
    (onChange)="handleInputField($event)"
  ></app-input-field>
  <app-input-field
    [id]="'description'"
    [name]="'Description'"
    [value]="hero.description"
    (onChange)="handleInputField($event)"
  ></app-input-field>
  <app-file-field
    [id]="'logo'"
    [name]="'Logo'"
    [value]="hero.logo"
    (onChange)="handleFileField($event)"
  ></app-file-field>
  <app-file-field
    [id]="'image'"
    [name]="'Image'"
    [value]="hero.image"
    (onChange)="handleFileField($event)"
  ></app-file-field>
  <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>
