/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  margin: 10px 5px;
  border-right: #000;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body,
input[type="text"],
button {
  color: #333;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  padding: 10px;
  text-decoration: none;
  /* display: inline-block; */
  height: 100%;
}
a:visited,
a:link {
  color: #334953;
}
a.nav-item:hover {
  color: black;
  border-radius: 2rem;
  background-color: #eee;
}

nav a.active {
  color: #039be5;
}

.header-container {
  padding: 10px;
  height: auto;
}

#title.header-container {
  border-right: solid 1px;
  border-color: #ddd;
}

.header-account {
  margin-left: auto;
  padding: 5px 10px;
  order: 2;
  display: flex;
}
.header-account-item {
  padding: 10px;
  color: #334953;
  cursor: pointer;
}

.header-account-item:hover {
  color: black;
  border-radius: 2rem;
  background-color: #eee;
}

#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
  box-shadow: 0px 5px 5px #ddd;
  z-index: 10;
  background-color: white;
  width: 100%;
  top: 0;
}
