<div class="form-group" *ngIf="!value; else fileExist">
  <label class="name">
    {{ name }}
  </label>
  <br />
  <button class="btn" type="button">
    <label for="{{ id }}">
      Parcourir
    </label>
  </button>
  <input
    id="{{ id }}"
    name="{{ name }}"
    type="file"
    (change)="handleFileChange($event.target.files)"
  />
</div>
<ng-template #fileExist>
  <div class="form-group">
    <label class="name">
      {{ name }}
    </label>
    <br />
    <button class="btn" (click)="clearValue()" type="button">
      <label for="{{ id }}">
        &times;
      </label>
    </button>
    {{ value.name }}
  </div>
</ng-template>
