<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <div>
      <a routerLink="/detail/{{ hero.id }}">
        <div class="image-container">
          <img class="logo" src="{{ hero.logo_path }}" alt="" />
        </div>
        <div>
          <div class="label-container">
            <span class="badge label">{{ hero.id }}</span>
            <div class="label">
              {{ hero.name }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
